/* CSS Document for Screens */



@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300);

/* General */ 

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0px;
    padding: 0px;
}

#page {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}


/* Text */ 
/*N-top E - right S- bottom  W -left */
h1 {   margin: 0 0 em 0 ; font-size: 3rem; font-weight: 700;}
h2 {   margin: 0 0 .5em 0 ; font-size: 1.6rem; font-weight: 700; line-height: 1.1em;}
h3 {   margin: 0 0 .5em 0 ; font-size: 1.3rem; font-weight: 700; line-height: 1.1em;}
h4 {   margin: 0 0 .5em 0 ; font-size: 1rem; font-weight: 700;}

p {margin: 0 0 1em 0 ; }

a {color: #007eff;}
a:visited {color:#65b1ff}


/* btn tag */

a.btn {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 4px 15px;
    transition: background-color 0.5s;
}
a.btn:hover {
    background-color: rgba(0, 0, 0, .3);
}



/* Header */ 

header {
    height: 430px;
    background: #cf0004 url(./graphics/banner_1200.jpg) no-repeat center bottom;
    position: relative;
}

header a.logo {
    z-index: 1;
    position: absolute;
    top: 10px; left: 20px;
    display: block;
    width: 160px;
    height: 60px;
    background: url(./graphics//logo.svg) no-repeat 0 0;
    background-size: contain;
}

header a.logo span {
    display: none;
}

header div.hero {
    position: absolute;
    width: 42%;
    top: 130px;
    left: 55%;
}
header div.hero h1 {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: #fff;
}


/* Section - All */ 
section {
    padding: 0 30px;
}

section::after {
    content: '';
    display: block;
    clear: both;
}


/* Section - Main */ 


section.main {  margin-top: 20px; margin-bottom: 30px;  padding: 0; }
section.main aside { width: 33%;  float: left;  text-align: center; }
section.main .content {
    padding-top: 85px;
    margin: 15px;
    background: no-repeat center top;
    background-size: 75px 75px;
}

section.main aside h3 a {color: #000; text-decoration-line: none;}
section.main aside h3 a:hover {
    text-decoration-line: underline;
}

section.main .content.trending { background-image: url(./graphics/icon_star.svg); }
section.main .content.find-it { background-image: url(./graphics/icon_marker.svg); }
section.main .content.tools { background-image: url(./graphics/icon_gear.svg); }

 
/* Section - Atmosphere */ 


section.atmosphere {
    background-color: #cc6633;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
section.atmosphere article {
    padding: 0 20px 0 510px;
    background: url(./graphics/photo_lounge.jpg) no-repeat 0 5px;
    min-height: 200px;
}

/* Section - How-To */ 

section.how-to  { background-color: #eee9d9; position: relative;}
section.how-to aside { width: 30%; float: left;margin-right: 10px; }
section.how-to aside .content {  padding: 30px 30px 20px 5px; }
section.how-to aside .content img {display: block; margin-bottom: 10px; width: 75%;}
section.how-to aside .content h4 {margin-bottom: 0;}
section.how-to aside .content p {margin-bottom: 0.5em;}
section.how-to aside .content a {display: inline-block; color: #cc6633; font-weight: 700;}


section.how-to blockquote {
    color: #444;
    background-color: #fff;
    width: 33%;
    margin: 0;
    position: absolute;
    right: 5%;
    bottom: 0%;
}
section.how-to blockquote p {
    margin: 30px 30px 20px 50px;
}

section.how-to blockquote p.quote {
    font-style:italic;
    font-size: 1.2em;
}

section.how-to blockquote p.credit {
    color: #777;
    font-size: .9em;
    margin-top: 0;
    padding-left: 25px;
    line-height: 1.3em;
    position: relative;
}

section.how-to blockquote::before {
    content: '\201c';
    color: orange;
    position: absolute;
    top: 10px;  left: 8px;
    font-size: 5em;
    font-family: serif;
}

section.how-to blockquote p.quote::after  {
    content: '\201d';
    font-family: serif;
}

section.how-to blockquote p.credit::before {
    content: '\2014';
    position: absolute;
    top: -1px; left: 0px;
}

/* Navigation */ 

nav {
    background-color: rgba(0, 0, 0, .70);
    position: absolute;
    top: 0px; left: 0px;
    padding: 50px 0 0 0;
    width: 100%;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav ul { list-style: none; margin: 0; padding: 0;}
nav ul li:hover {background-color: #3a0508;}
nav ul li:hover > ul  {  display: block; }

nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    width: 125px;
    position: relative;
    text-decoration: none;
}

nav ul li a:hover { background-color: #6d0911; }
nav ul li a:visited{background-color: rgb(119, 63, 63);}


nav ul ul {
    position: absolute;
    top: 100%;
    background-color: #3b0409;
    display: none;
}

nav ul ul ul { left: 100%; top: 0px;}

nav ul ul li {position: relative;}

/* Nav Top Level Elements */ 
nav > ul {padding-left: 200px;}
nav > ul > li {float: left;}

nav > ul > li > a {
    width: auto;
    padding: 15px 20px 30px 20px;
}

/* Adding Indication Arrows */

nav > ul > li >  a[aria-haspopup="true"]::after {
    content: '';
    display: block;
    top: 35px; right: 15px;
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 6px solid transparent;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
}

 /* 
nav > ul > li > li >  a [aria-haspopup="true"]::after {
    
    top: auto;
    left: 20px;
    right: auto;
    bottom: 10px;
    border-left: 6px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}*/ 




/* Footer */
footer { font-size: 0.8em; margin: 40px; color: rgb(44, 43, 43); }
footer .content { display: inline; }
footer a { margin-left: 30px; color: rgb(44, 65, 158); }
footer a:hover { color: #000; }
footer a:visited { color: #cf0004;}



/* Media Queries */ 

@media screen and (max-width:1000px) {
    h1 {font-size: 2.2rem;}

    /*Header*/ 
    header div.hero {left: 57%;}
    header div.hero h1 {margin-bottom: 20px;}

    /* Atmosphere */ 
    section.atmosphere article {
        padding-left: 400px;
        background-size: 380px auto;
    }
}

@media screen and (max-width:825px) {
    h1 {font-size: 2.1rem;}

    /* Header */
    header {
        height: 300px;
        background-image: url(./graphics/banner_825.jpg);
    }
    header div.hero  {left: 48%;top: 120px;}
    
    /* Atmosphere */ 
    section.atmosphere article {
        padding-left: 325px;
        background-size: 300px auto;
    }

    /* How-To */ 
    section.how-to blockquote p.quote {
        font-size: 1em; line-height: 1.1em;
    }
    section.how-to blockquote p.credit { font-size: 0.7em;}
    section.how-to blockquote {font-size: 0.7em;}
}

@media screen and (max-width:760px) {
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.4rem;}
    h3 {font-size: 1.1rem;}

    a.btn {font-size: 1em;}

    /*Header */ 
    header a.logo {width: 145px; height: 60px;}
    header div.hero {top: 150px; left: 40px;left:48%}
    
    /*section */ 
    section.main {margin-top: 10px; margin-bottom: 10px;}
    section.main aside div.content {background-size: 55px 60px; 
    padding-top: 60px;}

    /* how-to section */ 
    section.how-to aside div.content img {width: 80%;}

    /* Navigation */ 
    nav {padding-top: 80px;}
    nav > ul {padding-left: 10px;}
} 


@media screen and (max-width:625px) {
    /* refractor
        menu to be moved bottom or top it should single column 
    */
}

@media screen and (max-width:425px) {}
